<div class="row">
  <div class="col-lg-4 col-md-3"></div>
  <form class="col-lg-4 col-md-6" [formGroup]="userForm" (ngSubmit)="login()">
    <p class="h5 text-center mb-4">Sign in</p>

    <div class="md-form form-sm">
      <input mdbActive type="text" id="email" formControlName="email" class="form-control">
      <label for="email">Your email</label>
    </div>

    <div class="md-form form-sm">
      <input mdbActive type="password" id="password" formControlName="password" class="form-control">
      <label for="password">Your password</label>
    </div>

    <div class="text-center">
      <button mdbRippleRadius class="btn btn-default waves-light" [disabled]="!userForm.valid">Login</button>
    </div>
  </form>
</div>
