<div class="container page-content">
  <div class="row mt-5 pt-5">
    <div class="col">
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <h5>
            Contact Us<br />
            <a href="tel:+2623631550">262.363.1550</a>
          </h5>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p class="mt-5 mb-2">
            <img class="gpf-wrap-left gpf-width-90px" src="/assets/img/feature/simply-the-best.png">
            We look forward to always providing our “Simply the Best” award-winning service on your every order. Call us at <strong><a href="tel:+2623631550">262.363.1550</a></strong> to get started.
          </p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <app-contact-form></app-contact-form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>

