<div class="container page-content">
  <div class="row mt-5 pt-5">
    <div class="col">
      <h5>
        Garden Party Florist - Mukwonago, Wisconsin<br />
        <a href="tel:+2623631550">262.363.1550</a>
      </h5>
      <p>Welcome to Garden Party Florist, serving Mukwonago, East Troy and surrounding communities for 20 years!</p>
      <p>Our family-owned shop has moved to our new home studio yet we're just a phone call away – creating the very finest and most on-trend wedding, sympathy and special-occasion arrangements to meet your needs. We specialize in custom designs and fresh-from-the-garden displays that have made us famous, and we invite you to call us today: <strong><a href="tel:+2623631550">262.363.1550</a></strong></p>
      <h5 class="mt-4">Our Specialties</h5>
      <div class="row">
        <div class="col-sm-4">
          <div class="feature-block">
            <p>
              <a [routerLink]="['/weddings']" title="Read More...">Weddings &nbsp;<span class="fa fa-arrow-circle-right"></span></a>
            </p>
            <p>
              <a [routerLink]="['/weddings']" title="Read More...">
                <img src="/assets/img/feature/feature-wedding-1.jpg" alt="Read More...">
              </a>
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature-block">
            <p>
              <a [routerLink]="['/sympathy']" title="Read More...">Sympathy &nbsp;<span class="fa fa-arrow-circle-right"></span></a>
            </p>
            <p>
              <a [routerLink]="['/sympathy']" title="Read More...">
                <img src="/assets/img/feature/feature-sympathy-1.jpg" alt="Read More...">
              </a>
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature-block">
            <p>
              <a [routerLink]="['/occasions']" title="Read More...">Occasions &nbsp;<span class="fa fa-arrow-circle-right"></span></a>
            </p>
            <p>
              <a [routerLink]="['/occasions']" title="Read More...">
                <img src="/assets/img/feature/feature-occasion-1.jpg" alt="Read More...">
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p class="mt-5 mb-2">
            <img class="gpf-wrap-left gpf-width-90px" src="/assets/img/feature/simply-the-best.png">
            We look forward to always providing our “Simply the Best” award-winning service on your every order. Call us at <strong><a href="tel:+2623631550">262.363.1550</a></strong> to get started.
          </p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <app-contact-form></app-contact-form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>

