<div class="container page-content">
  <div class="row mt-5 pt-5">
    <div class="col">
      <h5>
        About Us<br />
        <a href="tel:+2623631550">262.363.1550</a>
      </h5>
      <div class="row mt-3 mb-5">
        <div class="col-sm-12 col-md-6 col-lg-8">
          <p>Lori and Mike Joyce are the heart and soul that have made Garden Party Florist what it is today and has always been, a customer-favorite, award-winning designer of the finest floral arrangements – serving Mukwonago, East Troy and surrounding communities since 1998.</p>
          <p>To shop, contact them at <a href="tel:+2623631550">262.363.1550</a>. They've recently moved from their in-town storefront to their home studio and take the same pride at their new location. Simply call today for the custom designs and fresh-from-the-garden selections they've made them famous.</p>
          <p>Garden Party Florist – for all of your floral needs, including weddings, sympathy and special occasions.</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <img class="w-100" src="/assets/img/feature/feature-about-1.jpg" alt="Lori" />
        </div>
      </div>
    </div>
  </div>
</div>

