<mdb-navbar class="nav-bg" SideClass="navbar fixed-top navbar-expand-md navbar-light bg-white scrolling-navbar" [containerInside]="false">
  <logo>
    <a class="navbar-brand" href="#">
      <img src="/assets/img/gpf-logo.png" alt="Garden Party Florist" />
    </a>
  </logo>
  <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" href="#">Weddings</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" href="#">Sympathy</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" href="#">Occasions</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" href="#">Gallery</a>
        </li>
      </ul>
  </links>
</mdb-navbar>
