<div class="container page-content">
  <div class="row mt-5 pt-5">
    <div class="col">
      <h5>
        Weddings<br />
        <a href="tel:+2623631550">262.363.1550</a>
      </h5>
      <p>Your wedding is your very own and like no other, whether traditional, elegant, casual, themed… we're here to help make it perfect. Our consultations are always complimentary and together we can create the most meaningful selections and presentations for you.</p>
      <p>The images here are for inspiration and note that this is only a sampling of our work. Our wedding arrangements have been featured in Florists' Review Magazine and our work honored with Simply the Best Entrepreneur of the Year and Best Retailer of the Year awards. We will design and deliver absolutely stunning custom displays to match your particular needs for style and budget.</p>
      <h5 class="mt-4">Inspiring collections of wedding designs and styles...</h5>
      <div class="row mt-4 mb-5">
        <div class="col-sm-4">
          <div class="feature-block">
            <p>
              <a [routerLink]="['/weddings']" title="Read More...">Bouquets &nbsp;<span class="fa fa-arrow-circle-right"></span></a>
            </p>
            <p>
              <a [routerLink]="['/weddings']" title="Read More...">
                <img src="/assets/img/feature/feature-wedding-5.jpg" alt="Read More...">
              </a>
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature-block">
            <p>
              <a [routerLink]="['/weddings']" title="Read More...">Ceremony &nbsp;<span class="fa fa-arrow-circle-right"></span></a>
            </p>
            <p>
              <a [routerLink]="['/weddings']" title="Read More...">
                <img src="/assets/img/feature/feature-wedding-3.jpg" alt="Read More...">
              </a>
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature-block">
            <p>
              <a [routerLink]="['/weddings']" title="Read More...">Reception &nbsp;<span class="fa fa-arrow-circle-right"></span></a>
            </p>
            <p>
              <a [routerLink]="['/weddings']" title="Read More...">
                <img src="/assets/img/feature/feature-wedding-2.jpg" alt="Read More...">
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

