<div class="container page-content">
  <div class="row mt-5 pt-5">
    <div class="col">
      <h5>
        Sympathy<br />
        <a href="tel:+2623631550">262.363.1550</a>
      </h5>
      <p>Funeral services, remembrance and memorials can accompany trying times so we're dedicated to accommodating your floral needs smoothly and assuredly. We specialize in the meaningful, mindful arrangements that capture the appropriate sentiments you desire.</p>
      <p>The images here are for inspiration and note that this is only a sampling of our work. We will design and deliver the perfectly thoughtful displays that truly meet your discerning needs for presentation and price point.</p>
      <h5 class="mt-4">Leaf through our thoughtful collection of sympathy arrangements...</h5>
      <div class="row">
        <div class="col-sm-4">
          <div class="feature-block">
            <p>
              <a [routerLink]="['/sympathy']" title="Read More...">
                <img src="/assets/img/feature/feature-sympathy-1.jpg" alt="Read More...">
              </a>
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature-block">
            <p>
              <a [routerLink]="['/sympathy']" title="Read More...">
                <img src="/assets/img/feature/feature-sympathy-2.jpg" alt="Read More...">
              </a>
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature-block">
            <p>
              <a [routerLink]="['/sympathy']" title="Read More...">
                <img src="/assets/img/feature/feature-sympathy-3.jpg" alt="Read More...">
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-5">
        <div class="col-sm-12">
          <div class="feature-block">
            <p>
              <a [routerLink]="['/sympathy']" title="Read More...">View more arrangements &nbsp;<span class="fa fa-arrow-circle-right"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

