<!--Footer-->
<footer class="page-footer center-on-small-only">

  <!--Footer Links-->
  <div class="container">
    <div class="row">

      <!--First column-->
      <div class="col-xs-16">
        <p>Footer Content</p>
      </div>
      <!--/.First column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      &copy; 2017 Copyright: Garden Party Florist
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
