<!--Footer-->
<footer class="page-footer center-on-small-only">

  <!--Footer Links-->
    <div class="row">

      <!--First column-->
      <div class="col-md-4 footer-section">
        <address>
          <span class="fa fa-map-marker"></span>
          <p class="address_title">serving</p>
          <p>Mukwonago, East Troy<br />&amp; Surrounding Communities</p>
          <div class="hidden-md-up mb-5"></div>
        </address>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-4 footer-section">
        <address>
          <span class="fa fa-volume-control-phone"></span>
          <p class="address_title">phone</p>
          <p><a href="tel:262-363-1550">262.363.1550</a></p>
          <div class="hidden-md-up mb-5"></div>
        </address>
      </div>
      <!--/.Second column-->

      <!--Third column-->
      <div class="col-md-4 footer-section">
        <address>
          <span class="fa fa-envelope-o"></span>
          <p class="address_title">email</p>
          <p><a href="mailto:gpflorist@gardenpartyflorist.com?Subject=RE: Website">gpflorist@gardenpartyflorist.com</a></p>
        </address>
      </div>
      <!--/.Third column-->

    </div>

  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      &copy; Copyright {{endCRD}} Garden Party Florist
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
