/* You can add global styles to this file, and also import other style files */
@import "~ag-grid/dist/styles/ag-grid.css";
@import "./styles/ag-evertheme";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Muli:200,400,700');

/*
.fixed-sn main {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
*/

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Muli", Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.5;
  color: #333;
}

.btn.btn-sm {
  font-size: 1.2rem;
}

.page-content {
  margin-top: 80px;
  h5 {
    font-size: 2.2rem;
    font-family: "Playfair Display", Helvetica, serif;
    font-weight: 400 !important;
    color: #333;
    margin-bottom: 1.5rem;
    a {
      color: #333;
      &:hover {
        color: #000;
      }
    }
  }
  p {
    a {
      font-weight: 700;
      color: #333;
      &:hover {
        color: #000;
      }
    }
  }
  .feature-block {
    a {
      width:100%;
      img {
        width:100%;
      }
    }
  }

  img.gpf-wrap-left {
    float: left;
    margin-right: 9px;
    margin-bottom: 9px;
    width: 52px;
  }
}

#editImageForm {
  margin: 0 20px;
}

button.photo-tags-button {
  padding: 0.5rem 1rem !important;
}

footer.page-footer {
  color: #333 !important;
}

footer.page-footer .footer-copyright {
  color: #333 !important;
  background-color: #fff !important;
  font-size: 0.75rem !important;
}

header img {
  height: 36px;
  margin-left: 20px;
}

.modal-photo {
  width: 400px;
  height: 240px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.tag-input .md-form.input-group {
  padding-left: 0;
}

.tag-input .input-group .form-control {
  padding-left: 0;
}

.tag-input .input-group .btn {
  margin: 0;
}

.text-wrap {
  white-space: normal;
}

.text-right .ag-header-cell-text {
  float: right;
}

.md-form {
  margin-bottom: 3rem;
}

.md-form label {
  font-size: 1.5rem;
  &.active {
    font-size: 1.5rem;
  }
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], input[type=search], textarea.md-textarea {
  height: 4rem;
  font-size: 1.5rem;
}

.inventory-grid {
  height: calc(100% - 108px);
}

.img-grid-preview {
  max-width: 75px;
  max-height: 75px;
}
